.backto-top{
    i{
        position: fixed;
        content: "";
        bottom: 50px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: #FF4655;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #000;
        z-index: 22;
        display: none;

        &:hover{
            background-color: #000;
            color: #fff;
            transition: 0.5s ease;
        }
    }
}